# Base de datos de TEST
DB_TEST_NAME=game_of_bones_app_test
DB_TEST_USER=root
DB_TEST_PASSWORD=tu_password_mysql_aqui
DB_TEST_HOST=127.0.0.1
DB_TEST_PORT=3306

# JWT Secret (necesario para los tests de auth)
JWT_SECRET=test_secret_key_for_testing
JWT_EXPIRES_IN=1d

# Node Environment
NODE_ENV=test